<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

    <main>
        <div class="main">
            <h2 style="margin-bottom: 0px;"><%= host %></h1>
            <h3 style="margin-top: 0px;">This club space is available!</h2>
        </div>
    </main>
    
</body>
</html>