<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class='grey-bg'>

    <main>
        <div class="main">
            <h2 style="margin-bottom: 0px; font-size:48px;"><%= host %></h1>
            <h3 style="margin-top: 0px;font-size:36px;" class="weight200">This club space is available!</h2>
        </div>
    </main>
    
</body>
</html>