<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

    <main>
        <div class="main">
            <h1 style="margin-bottom: 0px;">Reedy High School</h1>
            <h2 style="margin-top: 0px;">The "one stop shop" for Reedy clubs and organizations</h2>
        </div>
    </main>
    <% include ../partials/footer %>
</body>
</html>